#main-window[titlepreface*="|"] #TabsToolbar
{
    visibility: collapse;
}
/* Auto hide horizontal tab */
#main-window #titlebar {
  overflow: hidden;
  transition: height 0.3s 0.3s !important;
}
/* Default state: Set initial height to enable animation */
#main-window #titlebar { height: 3em !important; }
#main-window[uidensity="touch"] #titlebar { height: 3.35em !important; }
#main-window[uidensity="compact"] #titlebar { height: 2.7em !important; }
/* Hidden state: Hide native tabs strip */
#main-window[titlepreface*="|"] #titlebar { height: 0 !important; }
/* Hidden state: Fix z-index of active pinned tabs */
#main-window[titlepreface*="|"] #tabbrowser-tabs { z-index: 0 !important; }

/*Reference https://www.userchrome.org/*/
/* Hide title bar but keep window controls (minimize, maximize, close) */
/*Hide tabs and other things inside the titlebar, except window buttons*/
#main-window[titlepreface*="|"] .tabbrowser-tab{  display: none !important; }
#main-window[titlepreface*="|"] .scrollbox-clip{  width: 0 !important; }
#main-window[titlepreface*="|"] #alltabs-button{  display: none !important; }
#main-window[titlepreface*="|"] .toolbar-items{  display: none !important; }
/*Make sure that the titlebar and navbar are both on the same line*/
/*#main-window[titlepreface*="|"] #navigator-toolbox{  display: flex !important; box-sizing: border-box; justify-content:space-between; flex-direction: row-reverse;   flex-wrap: wrap; }*/
#main-window[titlepreface*="|"] .titlebar-spacer{  display: none !important; }
#main-window[titlepreface*="|"] #nav-bar{border-radius: 5px 0 0 0; display: flex; box-sizing: border-box; padding-top: 2px; align-items: center; flex: 1; flex-basis: 50%; width: 100% !important; }
/* on GNOME you can use max-width: 48px below, if you only have the "Close" button on windows (default) */
#main-window[titlepreface*="|"] #titlebar{border-radius: 0 5px 0 0; border-left: none !important; margin-top: 1px; flex: 1; flex-basis: 50%; width:10% !important; display: flex; max-width: 100px;   align-items: center;background-color: var(--toolbar-bgcolor) !important; border-left: 1px solid var(--toolbar-color);}
#main-window[titlepreface*="|"] #titlebar:-moz-window-inactive{opacity: 1 !important;}
#main-window[titlepreface*="|"] #TabsToolbar > *:not(.titlebar-buttonbox-container) {display: none !important;}
#main-window[titlepreface*="|"] .titlebar-buttonbox-container  { 
display: flex !important; 
box-sizing: border-box; 
justify-content:space-between; 
flex-direction: row-reverse;   
flex-wrap: wrap; 
}


#PersonalToolbar {width: 100% !important; }
#tab-notification-deck {width: 100% !important;   flex-basis: 100%; width: 100% !important;}



/*terzo*/
#sidebar-header {
  /* display: none; */
  visibility: collapse !important;
}

/* Hide splitter */
#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] + #sidebar-splitter {
  display: none !important;
}

/* Shrink sidebar until hovered */
:root {
  --thin-tab-width: 32px;
  --wide-tab-width: 300px;
}

/* When the sidebar is hidden, reserve 32px on the right for the handle */
#browser {
  margin-right: var(--thin-tab-width) !important;
}

/* Special sidebar repositioned on the right with auto-hide via transform */
#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] {
  overflow: hidden !important;
  position: fixed !important;
  top: 41px !important;
  right: 0 !important;
  bottom: 0 !important;
  width: var(--wide-tab-width) !important;
  transform: translateX(calc(var(--wide-tab-width) - var(--thin-tab-width))) !important;
  z-index: 9999;
  transition: transform 0.15s ease-in-out 1s !important;
}

/* Expanded state on hover, focus, OR while dragging */
#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]:hover,
#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]:focus-within,
#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"][data-dragging="true"] {
  transform: translateX(0) !important;
  transition: transform 0.15s ease-out 0s !important;
  z-index: 9998;
}
